<!-- <form class="example-form">
  <span>Balance Sheet item Section</span>
  <mat-form-field>
    <input matInput name="loanctrl" placeholder="Enter Loan ID" [(ngModel)]="loanID">
  </mat-form-field>
  <button (click)="getBalanceSheetItemsforLoan()" mat-raised-button color="warn">Process</button>

  <div class="col-sm-4">
   <table>
     <tr>
       <th *ngFor="let header of displayedColumns">{{header.key}}</th>
     </tr>
     <tr *ngFor="let row of items.data;let i=index">
        <td *ngFor="let row_pi of row;let p_i=index">
          <div (click)="row_pi.canedit?row_pi.editmode=true:''" *ngIf="!row_pi.editmode">
          <span>{{row_pi.value}}</span>
          </div>
          <div  *ngIf="row_pi.editmode">
              <input type="number" name="edit{{i+p_i}}" type="text" [(ngModel)]="row_pi.value">
              <button (click)="row_pi.editmode=false" mat-icon-button>
                  <mat-icon>edit</mat-icon>
              </button>
          </div>
        </td>
    </tr>
     
   </table>
  </div>
  
</form>





 -->
